* {margin: 0; padding: 0; box-sizing: border-box; }
ul, ol {list-style: none;}
a {text-decoration: none;color: inherit;}
img {display: block;  max-width: 100%;}

body{font-family: Paperozi, serif; font-weight:300; color:#222;}


header{width:100%;}